/**
 * NAV
 */

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__item {
  float: left;
  width: 50%;
  text-align: center;
}

@media (min-width: 400px) {
  .nav__item {
    float: none;
    display: inline;
    width: auto;
  }
}

.nav__link {
  display: inline-block;
  padding: var(--spacing-3) var(--spacing-5);
  text-decoration: none;
  font-size: var(--font-size-small);
  color: var(--color-bubblegum-dark);
}

@media (min-width: 600px) {
  .nav__link {
    font-size: var(--font-size-default);
  }
}

.nav__link:hover,
.nav__link.is-current {
  color: var(--color-salmon);
}

.nav__link.is-current {
  font-style: italic;
}
