/**
 * UTILITIES
 */

.u-border-radius-circle {
  border-radius: 50% !important;
}

.u-clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.u-text-center {
  text-align: center !important;
}

.u-list-reset {
  list-style: none !important;
}
