<div class="nav" role="navigation">
  {% assign navurl = page.url | remove: 'index.html' %}
  {% assign navurl_parts = page.url | downcase | split: '/' %}
  <ul class="nav__list u-clearfix">
    {% for item in include.nav %}
    {% assign itemurl_parts = item.url | downcase | split: '/' %}
    <li class="nav__item"><a class="nav__link{% if item.url == navurl or itemurl_parts[1] == navurl_parts[1] %} is-current{% endif %}" href="{{ item.url }}" {% if item.target %} target="{{ item.target }}"{% endif %}>{{ item.title }}</a></li>
    {% endfor %}
  </ul>
</div>
